<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<h1> Hello world from ejs file</h1>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0&appId=327940747079105&autoLogAppEvents=1">
</script>
<div class="fb-messengermessageus"
     messenger_app_id="327940747079105"
     page_id="546018548583823"
     color="blue"
     size="large">
</div>
</body>
</html>