<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<h1>Hello world from EJS file</h1>

<!-- Facebook Messenger Chat Plugin -->
<a href="https://www.facebook.com/profile.php?id=61570235725265" target="_blank" style="text-decoration: none;">
    <button style="background-color: #0084ff; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; font-size: 16px;">
        Chat with us on Messenger
    </button>
</a>
</body>
</html>